<div class="header border-bottom p-3">
    <div class="row m-0 justify-content-between align-items-center">
        <div class="py-2">
            <div class="row m-0 justify-content-start align-items-center">
                <span class="h-txt-1">Welcome {{userName}}</span>
            </div>
            <div class="row m-0 justify-content-start align-items-center pt-1">
                <span class="h-txt-2">{{today | date}}</span>
            </div>
        </div>
        <div class="row m-0 justify-conent-end align-items-center py-2">
            <div class="row m-0 justify-content-start align-items-center cursor-pointer">
                <img src="./assets/images/notification-bell.svg" alt="notification-bell">
            </div>
        </div>
    </div>
</div>