.header {
    .h-txt-1 {
        color: #3e435d;
        // font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .h-txt-2 {
        color: #131313;
        // font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
}
