<div class="hi-select-box">
    <div class="search-dropdown mt-1 px-1 pt-1" [ngStyle]="{width: elmentWidth}">
        <!-- Serach Box if Enabled -->
        <div class="row m-0 txt-bx-brd-btm mb-1" *ngIf="searchEnable">
            <div *ngIf="showSearchIcon" class="w-8 row m-0 justify-content-center align-items-center">
                <img src="./assets/images/searchicon.svg" alt="searchicon">
            </div>
            <div class="col-11 p-0">
                <input class="input-box-txt" type="text" placeholder="Search" [(ngModel)]="search"
                    (ngModelChange)="serachItem($event)">
            </div>
        </div>
        <div class="h-250">
            <!-- TODO: If Need to show Written in the box -->
            <div *ngIf="showTyped && typedValue !== ''"
                class="row m-0 justify-content-start align-items-center p-2 cursor-pointer search-txt"
                (click)="setItem({id: 0, value: typedValue})">
                <span class="txt-base-medium pl-1">{{typedValue}}</span>
            </div>
            <div class="row m-0 justify-content-start align-items-center p-2 cursor-pointer search-txt"
                (click)="setItem(item, i)" *ngFor="let item of dataList; let i=index;">
                <div class="row m-0 justify-content-center align-items-center" *ngIf="type === 'multiSelect'">
                    <img [src]="item?.isSelected ? './assets/images/box-check.svg' : './assets/images/box-un-check.svg'"
                        alt="box-check">
                </div>
                <span class="txt-base-medium pl-1" [ngStyle]="textStyle">{{item?.value || item?.name }}</span>
            </div>
            <div *ngIf="searchEnable && dataList.length === 0"
                class="row m-0 justify-content-center align-items-center p-2 cursor-pointer">
                <span class="txt-base-medium text-center color-dark-grey">The searched item could not be found, try a
                    different search
                    term</span>
            </div>
        </div>
    </div>
</div>