.hi-internet-offline {
    .no-data-heading-text {
        font-weight: 500;
        font-size: 20px;
        color: #2a2d32;
    }
    .no-data-text {
        width: 800px;
        margin: auto;
        text-align: center;
    }
    .alphabet-txt {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: #2a2d32;
    }
    .doctor-primary {
        color: #057cc3;
    }
    .patient-primary {
        color: #2db1a4;
    }
}
