.health-hub {
    .hh-txt-1 {
        color: #fff;
        text-align: right;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .hh-box-1 {
        border-radius: 4px;
        background: #008c99;
    }
}
