.dashboard-date {
    .vg-box-w-29 {
        max-width: 29%;
        flex: 0 0 29%;
    }
    .vg-box-w-45 {
        max-width: 45%;
        flex: 0 0 45%;
    }
    .w-80 {
        width: 80%;
    }
    .ds-txt-1 {
        color: #2a2d32;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .ds-txt-2 {
        color: #2a2d32;
        font-family: Poppins-SemiBold;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}
